@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

svg {
  border: 1px gray;
}

.title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-bottom: 30px;
}