@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

svg {
  border: 1px gray;
}

.title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-bottom: 30px;
}

#person-display {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  display: none;
}

.vis-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vis-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}